*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db 
Desktop.ini
$RECYCLE.BIN/
*~
.directory
.*.sw[a-z]
Session.vim

.*
!.gitignore

*.sql
*.sqlite
!yeeyee.structure.sql

uploads/userpic/*
!uploads/userpic/sysUserPic

uploads/itemspic/*
!uploads/itemspic/sysPics
